<!DOCTYPE html>

<html lang="zh-Hans" dir="ltr">
<head>
<title>抑郁症话题 | 站点管理员</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard app-myapp"
  data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Stay well with blackdogs</a></h1>

        </div>


        <div id="user-tools">

                欢迎，
                <strong>admin</strong>.



                    <a href="/">查看站点</a> /






                <a href="/admin/password_change/">修改密码</a> /

                <a href="/admin/logout/">注销</a>

        </div>



    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">首页</a>
&rsaquo;

Myapp

</div>



    <div class="main shifted" id="main">



      <div class="content">



        <!-- Content -->
        <div id="content" class="colMS">

          <h1></h1>


<div id="content-main">




    <div class="app-myapp module current-app">
      <table>
        <caption>
          <a href="/admin/myapp/" class="section" title="在应用程序 Myapp 中的模型">Myapp</a>
        </caption>

          <tr class="model-bloginfo">

              <th scope="row"><a href="/admin/myapp/bloginfo/">超话内容表</a></th>



              <td><a href="/admin/myapp/bloginfo/add/" class="addlink">增加</a></td>




                <td><a href="/admin/myapp/bloginfo/" class="changelink">修改</a></td>


          </tr>

      </table>
    </div>



</div>


          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
