{% extends "admin/base_site.html" %}
{% load static %}
<!DOCTYPE html>

<html lang="zh-Hans" dir="ltr">
<head>
<title>站点管理 | Django 站点管理员</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard"
  data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Django 管理</a></h1>

        </div>


        <div id="user-tools">

                欢迎，
                <strong>admin</strong>.



                    <a href="/">查看站点</a> /






                <a href="/admin/password_change/">修改密码</a> /

                <a href="/admin/logout/">注销</a>

        </div>



    </div>
    <!-- END Header -->



    <div class="main shifted" id="main">



      <div class="content">



        <!-- Content -->
        <div id="content" class="colMS">

          <h1>站点管理</h1>


<div id="content-main">




    <div class="app-app01 module">
      <table>
        <caption>
          <a href="/admin/app01/" class="section" title="在应用程序 App01 中的模型">App01</a>
        </caption>

          <tr class="model-blogs">

              <th scope="row"><a href="/admin/app01/blogs/">抑郁症超话帖子</a></th>



              <td><a href="/admin/app01/blogs/add/" class="addlink">增加</a></td>




                <td><a href="/admin/app01/blogs/" class="changelink">修改</a></td>


          </tr>

      </table>
    </div>

    <div class="app-auth module">
      <table>
        <caption>
          <a href="/admin/auth/" class="section" title="在应用程序 认证和授权 中的模型">认证和授权</a>
        </caption>

          <tr class="model-user">

              <th scope="row"><a href="/admin/auth/user/">用户</a></th>



              <td><a href="/admin/auth/user/add/" class="addlink">增加</a></td>




                <td><a href="/admin/auth/user/" class="changelink">修改</a></td>


          </tr>

          <tr class="model-group">

              <th scope="row"><a href="/admin/auth/group/">组</a></th>



              <td><a href="/admin/auth/group/add/" class="addlink">增加</a></td>




                <td><a href="/admin/auth/group/" class="changelink">修改</a></td>


          </tr>

      </table>
    </div>

</div>

<div id="content-related">
    <div class="module" id="recent-actions-module">
        {%block content%}
<div style="width: 200px; height: 200px; background-color: gray">
    <a>超话词云</a>
    <img src="{% url 'tp_wordcloud' %}" alt="超话词云图">
</div>
        {%endblock%}

    </div>
</div>

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
